Resume Relevance Scoring.json
{
  "name": "Resume Relevance Scoring",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Aibu-68gGWsXFR9FReveIB19ZZDV11cp",
          "mode": "list",
          "cachedResultName": "Resumes",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Aibu-68gGWsXFR9FReveIB19ZZDV11cp"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        -32
      ],
      "id": "0aa05b93-8fcf-448f-87f5-c0365c78d275",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "y9VoJKMinM7aPBNf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json.id}}\n",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        48,
        0
      ],
      "id": "2730da80-6fca-47f0-9d98-5a56ca7b3821",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "y9VoJKMinM7aPBNf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        288,
        0
      ],
      "id": "20f9f332-4bb2-4626-b299-9207295aa2b2",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1jbPhxWN0NLv8gQG2_X49X71qm2UVauJZ",
          "mode": "list",
          "cachedResultName": "MERN_jobdescription (1).pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1jbPhxWN0NLv8gQG2_X49X71qm2UVauJZ/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        48,
        -176
      ],
      "id": "82d7a217-411a-4ad0-8cff-e50e43936d6a",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "y9VoJKMinM7aPBNf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        288,
        -176
      ],
      "id": "1a71f654-ddb1-498c-be46-eef26096c3ba",
      "name": "Extract from File1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        528,
        -80
      ],
      "id": "4a4701a7-1a42-49e2-ac01-fb8f3a9d5cc4",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a4edc8a-f962-4547-b9b4-7798370be147",
              "name": "=jdText",
              "value": "={{$items()[0].json.text}}\n",
              "type": "string"
            },
            {
              "id": "542af617-5bf2-4bce-a6a8-0914f5ceb4e7",
              "name": "resumeText",
              "value": "={{$items()[1].json.text}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -80
      ],
      "id": "8103ea42-0a2e-48f1-9cb2-05e8d2b07bcf",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        944,
        -80
      ],
      "id": "0de75790-c798-425f-88e2-67a198cedebf",
      "name": "Limit"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ===============================\n// INPUT\n// ===============================\nconst jdTextRaw = $json.jdText || \"\";\nconst resumeTextRaw = $json.resumeText || \"\";\n\n// ===============================\n// NORMALIZE TEXT\n// ===============================\nconst normalizeText = (text) =>\n  text\n    .replace(/\\n+/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toLowerCase();\n\nconst jdText = normalizeText(jdTextRaw);\nconst resumeText = normalizeText(resumeTextRaw);\n\n// ===============================\n// EMAIL (ROBUST - handles broken lines)\n// ===============================\nconst emailSource = resumeTextRaw\n  .replace(/\\n+/g, \" \")\n  .replace(/\\s+/g, \" \")\n  .trim();\n\nconst emailMatch = emailSource.match(\n  /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/\n);\n\nconst email = emailMatch ? emailMatch[0] : \"Not Found\";\n\n\n// ===============================\n// PHONE (India)\n// ===============================\nconst phoneMatch = resumeText.match(\n  /(\\+91[\\s-]?)?[6-9]\\d{9}/\n);\nconst phone = phoneMatch ? `'${phoneMatch[0]}` : \"Not Found\";\n\n\n// ===============================\n// NAME\n// ===============================\nconst nameCandidate = resumeTextRaw\n  .split(\"\\n\")\n  .map(l => l.trim())\n  .find(l => l.length > 3 && /^[A-Z\\s§]+$/.test(l));\n\nconst candidateName = nameCandidate\n  ? nameCandidate.replace(/§/g, \"\").trim()\n  : \"Not Found\";\n\n// ===============================\n// SKILLS\n// ===============================\nconst SKILLS = [\n  \"javascript\", \"typescript\", \"react\", \"node.js\", \"express\",\n  \"mongodb\", \"mongoose\", \"docker\", \"kubernetes\", \"aws\",\n  \"api gateway\", \"lambda\", \"microservices\", \"rest\",\n  \"html\", \"css\", \"bootstrap\", \"redux\", \"jwt\", \"oauth\",\n  \"ci/cd\", \"linux\", \"git\"\n];\n\nconst extractSkills = (text) =>\n  SKILLS.filter(skill => text.includes(skill));\n\nconst jdSkills = extractSkills(jdText);\nconst resumeSkills = extractSkills(resumeText);\n\n// ===============================\n// SCORING\n// ===============================\nconst matchedSkills = jdSkills.filter(skill =>\n  resumeSkills.includes(skill)\n);\n\nconst relevanceScore = jdSkills.length === 0\n  ? 0\n  : Math.round((matchedSkills.length / jdSkills.length) * 100);\n\n// ===============================\n// EXPLANATION\n// ===============================\nconst explanation =\n  matchedSkills.length === 0\n    ? \"No required job skills were found in the resume.\"\n    : `Matched ${matchedSkills.length} out of ${jdSkills.length} required skills. Matched skills: ${matchedSkills.join(\", \")}.`;\n\nconst fileId = $node[\"Google Drive Trigger\"].json.id;\n\nconst resumeLink = fileId\n  ? `https://drive.google.com/file/d/${fileId}/view`\n  : \"\";\n\n\n// ===============================\n// ✅ RETURN OBJECT (NOT ARRAY)\n// ===============================\nreturn {\n  candidateName,\n  email,\n  phone,\n  resumeSkills,\n  jdSkills,\n  matchedSkills,\n  relevanceScore,\n  explanation,\n  resumeLink\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        -80
      ],
      "id": "956c62a7-f97a-4e25-82ac-e08e5159796b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WDW6UgS0G2FWiGGBSM-pZ6m9vKLS9d0iMLXe3GzMzE0",
          "mode": "list",
          "cachedResultName": "Resume Evaluations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDW6UgS0G2FWiGGBSM-pZ6m9vKLS9d0iMLXe3GzMzE0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDW6UgS0G2FWiGGBSM-pZ6m9vKLS9d0iMLXe3GzMzE0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Candidate Name": "={{ $json.candidateName }}",
            "Email": "={{ $json.email }}",
            "Phone": "={{ $json.phone }}",
            "Resume Link": "={{$json.resumeLink}}\n",
            "Score": "={{ $json.relevanceScore }}",
            "Reasoning": "={{ $json.explanation }}",
            "Date Processed": "={{ new Date().toISOString() }}",
            " Status": "Processed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Candidate Name",
              "displayName": "Candidate Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume Link",
              "displayName": "Resume Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reasoning",
              "displayName": "Reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Processed",
              "displayName": "Date Processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " Status",
              "displayName": " Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        -80
      ],
      "id": "ceab4acf-1e78-44a0-ad6f-429fa7d64423",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "029DR0lAh7EyC8jF",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "91bf7092-e216-4cff-bb75-394104b802ca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6706158f7ce362ea3f033eafa4807913916aee3a230e0c80b9ea9203f3a7bc8b"
  },
  "id": "72bRLBletjtZeILA",
  "tags": []
}